* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-main-bg: #262626;
    --light-main-bg: #BFBDBA;

    --sidebar-bg: #0D0D0D;
    --sidebar-active-state-bg: rgba(13, 13, 13, 0.8);

    --light-btn-bg: #D9D9D9;
    --active-state-btn-bg: #0D0D0D;
    --transparent-active-state-btn: rgba(255, 255, 255, 0.1);

    --primary-text-color: #D9D9D9;
    --primary-text-hover: #ffffff;
    --secondary-text-color: #0D0D0D;
    --secondary-text-hover: #ffffff;

    --full-margin-content: 40px;
    --half-margin-content: 24px;
    --small-margin-content: 12px;

    --border-radius: 14px;
}

body {
    font-family: 'Alexandria';
    width: 100%;
    height: 100vh;
    background-color: var(--dark-main-bg);
    color: var(--primary-text-color);
}

p, button {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--primary-text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-text-hover);
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;
    padding-top: 6px;
}

main .widgethub_grid_container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(9, 1fr);
    column-gap: 14px;
    row-gap: 18px;
    width: 100%;
    max-width: 1320px;
    height: 720px;
    margin-left: 80px;
    padding: 14px;
    border-radius: var(--border-radius);
    /* background-color: #d9d9d935; */
}

main .widget_dropzone {
    background-color: aquamarine;
    border-radius: 4px;
}

main .sidebar_nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    
    position: fixed;
    left: 0;
    top: 0;

    width: 64px;
    height: 100%;
    
    padding: 24px 8px;
    border-radius: 0 8px 8px 0;
    transition: .4s;
    overflow: hidden;
    z-index: 99;
    background-color: var(--sidebar-bg);
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.25);
}

main .open {
    width: 252px;
    background-color: var(--sidebar-active-state-bg);
}

main .sidebar_top, .sidebar_bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--half-margin-content);
}

main .sidebar_logo_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-left: 8px;
}

main #sidebar_logo {
    width: auto !important;
}

main #sidebar_logo:hover {
    cursor: pointer;
    color: var(--primary-text-hover);
}

main .sidebar_logo {
    width: 0;
    overflow: hidden;
}

main .active {
    justify-content: left;
    width: 100%;
    gap: 8px;
}

main .sidebar_logo_box .active {
    color: var(--primary-text-hover);
}

main .sidebar_line {
    width: 100%;
    height: 1px;
    background-color: #BFBDBA;
}

main .new_widget_btn, .add_clock_btn, .settings_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    background-color: transparent;
    transition: .4s;
    width: 100%;
    height: 40px;
    border: none;
    color: var(--primary-text-color);
}

main .new_widget_btn:hover, main .add_clock_btn:hover, main .settings_btn:hover {
    background-color: var(--transparent-active-state-btn);
    color: var(--primary-text-hover);
    cursor: pointer;
}

main .add_clock_btn:hover .add_clock, main .settings_btn:hover .settings {
    color: var(--primary-text-hover);
}

main .new_widget, main .add_clock, main .settings {
    width: 0;
    overflow: hidden;
    transition: .4s;
}

main .active .new_widget, main .active .add_clock, main .active .settings {
    width: auto;
}

main .openned {
    background-color: var(--light-btn-bg);
    color: var(--secondary-text-color);
}

main .openned .new_widget {
    color: var(--secondary-text-color);
}

main .openned:hover {
    background-color: var(--active-state-btn-bg);
    color: var(--primary-text-hover);
}

main .openned:hover .new_widget {
    color: var(--primary-text-hover);
}

main .new_widget_modal {  
    position: fixed;
    left: 264px;
    top: 80px;
    scale: 0;
    max-width: 324px;
    overflow: hidden;
    transition: .3s ease-in-out;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: var(--sidebar-active-state-bg);
}

.new_widget_modal .link, .color, .image, .size, .title {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    margin-bottom: 12px;
    background-color: var(--active-state-btn-bg);
}

.new_widget_modal input{
    font-family: 'Alexandria';
    width: 100%;
    display: flex;
    align-items: center;
    height: 24px;
    padding: 4px;
    border-radius: 4px;
    border: none;
    background-color: var(--active-state-btn-bg);
    color: var(--primary-text-color);
}

.new_widget_modal input:focus {
    outline: none;
    background-color: var(--transparent-active-state-btn);
}

.new_widget_modal .color, .size {
    align-items: start;
    flex-direction: column;
    padding-block: 12px;
    gap: 8px;
}

.new_widget_modal .color {
    margin-bottom: 4px;
}

.new_widget_modal .image {
    margin-top: 4px;
}

.new_widget_modal .colors_option {
    display: grid;
    grid-template-columns: repeat(7, auto);
    gap: 8px;
}

.new_widget_modal .color_pick {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #BFBDBA;
}

.new_widget_modal .color_pick:hover {
    outline: 2px solid #ffffff;
}

.new_widget_modal .sizes_option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.new_widget_modal .size_pick {
    border-radius: 4px;
    padding: 4px;
    transition: .3s;
}

.new_widget_modal .size_pick:hover {
    color: var(--primary-text-hover);
    background-color: var(--transparent-active-state-btn);
    cursor: pointer;
}

.new_widget_modal .title {
    margin-bottom: 4px;
}

.new_widget_modal .or {
    padding-left: 8px;
}

.new_widget_modal .optional {
    text-align: end;
    padding-right: 8px;
    margin-bottom: 12px;
}

.new_widget_modal button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    background-color: var(--light-btn-bg);
    color: var(--secondary-text-color);
}

.new_widget_modal button:hover {
    color: var(--primary-text-hover);
    background-color: var(--active-state-btn-bg);
}

main .modal_open {
    scale: 100%;
    padding: 24px 8px;
}

main .modal_openned {
    background-color: var(--active-state-btn-bg);
    color: var(--primary-text-hover);
}

main .modal_openned .new_widget {
    color: var(--primary-text-hover);
}